node_modules
dist
out
release
*.log
.DS_Store
Thumbs.db
_pi-web-ref
_qs-vue-ts
_ev-scaffold2
.superpowers
*.tsbuildinfo
.eslintcache
/.idea/.gitignore
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/pi-desktop.iml
/.idea/vcs.xml
