# China mirrors (npmmirror) — Electron binary & electron-builder deps
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# Optional: speed up npm package installs in CN
registry=https://registry.npmmirror.com
